/*
Copyright 2017 F. Almesjo

This file is part of CalendarDemo.

CalendarDemo is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CalendarDemo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CalendarDemo.  If not, see <http://www.gnu.org/licenses/>.
*/

*:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
    tap-highlight-color: rgba(0,0,0,0);
}

body {
  background-color: #000;
  margin: 0;
  overflow: hidden;
}

#main_canvas_container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

/* New code for splashscreen:*/
div#prelod_static_path {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 395px;
    height: 134px;
    margin-left: -197px;
    margin-top: -75px;
}
div#prelod_dynamic_path {
    position: absolute;
    left: 0;
    top: 20%;
    width: 0%;
    /*height: 100%;*/
    height: 5%;
    /*background-image: url(images/loader_bar_line.png);*/
    background-image: url(images/testbar.png);
}
div#preloader_cont {
    position: absolute;
    width: 50%;/* earlier 100 */
    height: 50%;/* earlier 100 */
    top: 25%;/* earlier 0 */
    left: 25%;/* earlier 0 */
    /*background-image: url(images/preloader_bg.jpg);*/
    /*background-image: url(images/test.jpg);*/
    background-image: url(images/imagefront.png);
    background-color: #171717;
    background-repeat: no-repeat;
    background-position: center center;
    visibility: hidden;
}